repos:
  - hooks:
      - id: seed-isort-config
    repo: https://github.com/asottile/seed-isort-config
    rev: v2.2.0
  - hooks:
      - id: ruff
      - id: ruff-format
    repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.3
