site_name: Darkseid
site_url: https://darkseid.readthedocs.io/en/latest/
site_description: A python library to interact with comic archives.
site_author: Brian Pepple

copyright: GPL-3.0

repo_url: https://github.com/Metron-Project/darkseid
repo_name: Metron-Project/darkseid

theme:
  name: material
  features:
    - content.code.copy
    - navigation.expand
    - navigation.top
  icon:
    repo: material/github
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      toggle:
        icon: material/weather-night
        name: Switch to light mode

markdown_extensions:
  - pymdownx.highlight:
      auto_title: true
  - pymdownx.inlinehilite
  - pymdownx.superfences

nav:
  - Home: index.md
  - Archivers:
      - Archiver: darkseid/archivers/archiver.md
      - ArchiverFactory: darkseid/archivers/factory.md
      - Pdf: darkseid/archivers/pdf.md
      - Rar: darkseid/archivers/rar.md
      - SevenZip: darkseid/archivers/sevenzip.md
      - Tar: darkseid/archivers/tar.md
      - Zip: darkseid/archivers/zip.md
  - Metadata:
      - BaseHandler: darkseid/metadata/base_handler.md
      - ComicInfo: darkseid/metadata/comicinfo.md
      - DataClasses: darkseid/metadata/data_classes.md
      - MetronInfo: darkseid/metadata/metroninfo.md
  - Darkseid:
      - Comic: darkseid/comic.md
      - IssueString: darkseid/issue_string.md
      - Validate: darkseid/validate.md
      - Utils: darkseid/utils.md

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_root_heading: True
            show_root_full_path: False
            show_category_heading: True
            # Docstrings
            docstring_style: google
            docstring_section_style: spacy
            line_length: 100
            merge_init_into_class: True
            show_signature_annotations: True
            # Additional
            show_source: False
  - include-markdown
